<div class="container">
  <h2>Gestión de Canciones</h2>

  <form (ngSubmit)="guardar()" #f="ngForm" novalidate>
    <div class="form-group">
      <label>Nombre de la cancion</label>
      <input name="nombre" [(ngModel)]="cliente.nombre" required class="form-control" />
    </div>

    <div class="form-group">
      <label>Artista</label>
      <input name="Artista" type="email" [(ngModel)]="cliente.artista" required class="form-control" />
    </div>

    <div class="form-group">
      <label>Genero</label>
      <input name="Genero"  [(ngModel)]="cliente.genero" required class="form-control" />
    </div>
    

    <div class="form-actions">
      <button type="submit" class="btn">{{ editMode ? 'Actualizar' : 'Guardar' }}</button>
      <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()" *ngIf="editMode">Cancelar</button>
    </div>
  </form>

  <hr/>

  <div *ngIf="cargando">Cargando...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <table *ngIf="clientes.length > 0" class="table">
    <thead>
      <tr>
        <th>Nombre de la cancion</th>
        <th>Artista</th>
        <th>Genero</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes">
        <td>{{ c.nombre }}</td>
        <td>{{ c.artista }}</td>
        <td> {{ c.genero }}</td>
        <td>
          <button (click)="editar(c)">Editar</button>
          <button (click)="eliminar(c)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="clientes.length === 0 && !cargando">No hay registros aún.</div>
</div>
